{% extends "layouts/layout_reg_log.html" %} {% load static %} {% block head %}
<title>Login</title>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/initSession.css' %}"
/>
{% endblock head %} {% block form %}
<form
  id="form_login"
  onsubmit="submit_login(event)"
  method="post"
  action="/users/register"
>
  {% csrf_token %}
  <h3>Login</h3>
  <label id="email_label">Email</label>
  <input 
    id="email_input"
    type="text"  
    name="email" 
    placeholder="Email" 
  />
  <label id="password_label">Password</label>
  <input 
    id="password_input"
    type="password" 
    name="password" 
    placeholder="Password" />
  <input type="submit" value="Login" />
  <p>Don't have an account? <a href="/users/register" class="link">Register</a></p>
  <div id="error-div"></div>
</form>
<script src="{% static 'scripts/login.js' %}"></script>
{% endblock %}
