{% extends 'layouts/layout_reg_log.html' %} {% load static %} {% block head %}
<title>Register</title>

{% endblock head %} {% block form %}
<form
  id="form_register"
  onsubmit="submit_register(event)"
  method="post"
  action="/users/register"
>
  {% csrf_token %}
  <h3>Register</h3>
  <label id="user">Username</label>
  <input
    id="user_input"
    type="text"
    name="username"
    placeholder="Example: User1"
  />
  <label id="email">Email</label>
  <input
    id="email_input"
    type="email"
    name="email"
    placeholder="Example: user1@gmail.com"
  />
  <label id="password">Password</label>
  <input
    id="password_input"
    type="password"
    name="password"
    placeholder="Example: user1Password"
  />
  <label id="password2">Confirm Password</label>
  <input
    type="password"
    name="confirm_password"
    placeholder="Exaple: user1Password"
  />
  <input type="submit" value="Register" />
  <p>I have an account! <a href="/users/login" class="link">Login</a></p>
  <div id="error-div"></div>
</form>
<script src="{% static 'scripts/register.jsx' %}"></script>

{% endblock %}
