p,
input::placeholder,
h1,
h2,
h3,
h4,
h5,
h6,
label,
button,
a {
  font-family: "Ubuntu", sans-serif;
}

.color-white {
  color: white;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #ffffff 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}

main .main-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

main #main-loading {
  display: none;
}

body {
  margin: 0;
  padding: 6px;
  height: 100vh;
  width: 100vw;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  background-color: #1c1b1f;
  display: flex;
  gap: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

navbar {
  border-radius: 20px;
  gap: 10px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  align-items: center;
  background-color: #10243d;
  color: white;
  box-sizing: border-box;
}

button.elevate-button {
  width: 100%;
  background-color: #d55852;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

input.search-task {
  width: 100%;
  border: none;
  background: transparent;
  outline: transparent;
}

div.row {
  width: 100%;
  display: flex;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 6px;
}

navbar .colum-tasks {
  background-color: #10243d;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

navbar .colum-tasks::-webkit-scrollbar {
  width: 15px;
}

div.user {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: black;
  color: white;
  border-radius: 30px;
}

.user-icon {
  padding: 15px;
}

navbar section#user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

navbar section#user #username {
  font-size: 16px;
  font-weight: bold;
}

navbar section#user #email {
  font-size: 10px;
  font-weight: bold;
}

navbar .block-task {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
}

navbar .block-task h4 {
  font-size: 16px;
  font-weight: bold;
}

navbar .block-task p {
  font-size: 14px;
  font-weight: lighter;
}

.row-expanded {
  display: flex;
  width: 100%;
}

.space-betwen {
  justify-content: space-between;
}

h4.name-task {
  width: 100%;
}

.name-task {
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  overflow: hidden;
}

main {
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;
  background-color: #10243d;
  border-radius: 25px;

  .not-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    span {
      font-size: 500px;
    }
  }

  .info-task {
    width: 100%;
    flex-direction: column;
    gap: 16px;
    padding-inline: 90px;
    padding-block: 60px;
    width: 100%;
    height: 100%;
    h3 {
      font-size: 25px;
      font-weight: bold;
      color: white;
    }
    .row-fill {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        transition: color 0.3s;
        font-size: 20px;
        font-weight: bold;
        color: gray;
        cursor: pointer;
      }
      span:hover {
        color: white;
      }
    }
    .separator {
      width: 100%;
      height: 1px;
      background-color: gray;
    }
  }
}

main::-webkit-scrollbar {
  width: 15px;
}

/*CSS MODAL*/
.div-modal {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

#div-modal-add {
  display: none;
}

#div-modal-update {
  display: none;
}

.modal {
  width: 430px;
  height: fit-content;
  background-color: #10243d;
  border-radius: 25px;
  padding-inline: 51px;
  padding-block: 46px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
}

.modal h2 {
  font-size: 25px;
  font-weight: bold;
  height: 50px;
}

.form-add {
  display: flex;
  flex-direction: column;
  gap: 12px;

  span {
    font-size: 36px;
    font-weight: bold;
  }
}

.form-add input[type="text"] {
  border: none;
  background-color: #ffffff;
  color: rgb(90, 90, 90);
  border-radius: 20px;
  padding: 10px;
}

.form-add textarea.long-input {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.form-add input[type="date"] {
  border: none;
  background-color: #ffffff;
  color: rgb(90, 90, 90);
  border-radius: 20px;
  padding: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

@keyframes rowIn {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.row-animation-add {
  animation: rowIn 0.3 ease-in-out;
}
