body {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #3b4d66;
  box-sizing: content-box;
}

p,
input::placeholder,
h1,
h2,
h3,
h4,
h5,
h6,
label,
a {
  font-family: "Ubuntu", sans-serif;
}

div.container {
  display: flex;
  width: 800px;
  margin: 16px;
  border-radius: 16px;
  box-shadow: 1px 1px 10px 1px #000000;
  overflow: hidden;
  height: 500px;
}

div.decorador {
  display: flex;
  background: #d55852;
  flex: 1;
}

.link {
  color: #d55852;
  text-decoration: none;
}

form {
  background-color: #10243d;
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  box-sizing: border-box;
  justify-content: center;
}

form label {
  color: white;
  font-size: 16px;
}
form label.error {
  color: #d55852;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: gray 1px solid;
}

form input[type="submit"] {
  display: block;
  background-color: #d55852;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

form h3 {
  color: white;
  font-size: 20px;
}

form p {
  color: white;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  div.decorador {
    flex: 0;
  }
  div.container {
    margin: 16px;
  }
}
