body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: #f0f0f0;
    box-sizing: content-box;
    margin: 0;
  }
  
  h3 {
    color: black;
  }
  
  div.login {
    display: flex;
    gap: 10px;
    background: #000000;
    padding: 16px;
    border-radius: 6px;
  }
  
  div.login div {
    width: 50%;
  }
  
  form {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    width: 400px;
    background: #000000;
    padding: 16px;
    border-radius: 6px;
    height: 300px;
  }
  
  form input[type="text"],
  form input[type="password"],
  form input[type="email"] {
    padding: 8px;
    border-radius: 6px;
    border: none;
    width: 50%;
  }
  
  form input[type="submit"] {
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form input[type="submit"]:hover {
    background-color: aqua;
  }